{% load static %}
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leads Bussiness solution</title>
	<link rel="icon" type="image/png"  href="{% static 'images/android-icon-48x48.png' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <input type="checkbox" id="menu">
    <div class="right-child" id="options">
        <label for="menu"><i class="fa fa-close fa-2x"></i></label>
        
        <div class="content">
            
           <ul>
            <li>
                <a href="#">personal</a>
            </li>
            <li>
                 <a href="#">bussiness</a>
             </li>
             <li>
                 <a href="#">tax planning</a>
             </li>
                <!-- <li>
                    <a href="#"></a>
                </li> -->
           </ul>
        </div><!--div.content-->
    </div><!--div.right-child-->
             <section id="main_header">
                <section class="wrapper">
                    <div class="content">
                        <div class="left">
                            <h1><img src="" alt="">Lead Bussiness solution</h1>
                        </div><!--div.left-->
                        <div class="middle">
                            <ul>
                                <li><a href="">
                                    personal
                                </a></li>
                                <li><a href="">
                                    bussiness 
                                </a></li>
                                <li><a href="">
                                    tax planning
                                </a></li>
                            </ul>
                        </div><!--div.middle-->
                        <div class="right">
                            <ul>
                                <li class="pop" >
                                    <label for="menu"><i class="fa fa-bars fa-2x"></i></label>
                                </li>
                            </ul>
                        </div><!--div.right-->
                    </div><!--div.content-->
                </section><!--section.wrapper-->
            </section><!--section#header-main-->

  <!----------------------------------------------------- header section ----------------------------------------------------------->
  
  <!-- <div id="banner"> -->
       
  <!-- </div> -->
   
    <section class="banner">
        <div class="wrapper">
            <div class="left">
                <div class="content">
                    <h3>Business Tax Service</h3>
                    <p>At Tax Innovations, we do not provide one-size-fits-all business and tax solutions. Our advice and accounts are tailored to your specific needs and because of this we can innovate and evolve our advice alongside the changes to your circumstances</p>
                </div>
            </div><!--div.left-->
            
        </div><!--div.wrapper-->
    </section><!--section.banner-->

  <!----------------------------------------------------- banner section ----------------------------------------------------------->
    <section id="services">
        <div class="head">
            <h2>our services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div><!--div.head-->
        <div class="main-service">
            <h2><a href="">gst</a></h2>
            <h2 class="one"><a>vat</a></h2>
            <h2 class=""><a href="">income tax</a></h2>           
        </div><!--div.main-services-->
                <div class="cards">
                    <div class="wrapper">
                         <ul>
                            <li>
                                <a href="">
                                    <div class="service-card">
                                        <div class="image one hover ">
                                        </div>
                                        <h3>internal audit</h3>
                                    </div><!--div.service-card-->
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="service-card">
                                        <div class="image two hover">
                                        </div>
                                        <h3>company registration</h3>
                                    </div><!--div.service-card-->
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="service-card">
                                        <div class="image three">
                                           
                                        </div>
                                        <h3>accounting and book keeping</h3>
                                    </div><!--div.service-card-->
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="service-card">
                                        <div class="image four">
                                          
                                        </div>
                                        <h3>digital signature</h3>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                     <div class="service-card">   
                                        <div class="image five">
                                          
                                        </div>
                                         <h3>cost management service</h3>
                                    </div><!--div.service-card-->
                                </a>
                            </li>
                        </ul>
                    </div><!--div.wrapper-->
                
                 </div><!--div.card-->
    </section><!--section#service-->

    <!----------------------------------------------------service section------------------------------------------------------------------>
    
    <section class="works">
        <div class="container1">
            <h3>How It Works</h3>
            <div class="items">
                <div class="content one">
                     <span>
                         <img src="">
                     </span>  
                     <h4 class="first">Online support</h4>
                     <p class="pf1" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    .</p>
                </div><!--div.content.one-->
                <div class="content two">
                    
                     <span>
                         <img src="">
                     </span>  
                     <h4 class="second">24 X 7 support</h4>
                     <p class="pf2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    .</p>
                </div><!--div.content.two-->
                <div class="content three">
                      
                     <span>
                         <img src="">
                     </span>  
                     <h4 class="third">site</h4>
                     <p class="pf3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                     .</p>
                </div><!--div.content.three-->
            </div><!--div.items-->                
        </div><!--div.container1-->

        <div class="content-img">       
        </div>
    </section><!--section.works-->
    

    <section class="choose ">
         <div class="content">
            <h2>why choose us</h2>
            <ul>
                <li><a href="">sdfghjk</a></li>
                <li><a href="">sdfghjk</a></li>
                <li><a href="">sdfghjk</a></li>
                <li><a href="">sdfghjk</a></li>
                <li><a href="">sdfghjk</a></li>
                <li><a href="">sdfghjk</a></li>
                <li><a href="">sdfghjk</a></li>
                <li><a href="">sdfghjk</a></li>
               
            </ul> 
        </div><!--div.content-->
    </section><!--section.choose-->

     <!----------------------------------------------------choose section------------------------------------------------------------------>    

    <section class="about">
        <div class="wrapper">
            <div class="content">
                <div class="top">
                    <h2>connect with us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                   .</p>
                </div><!--div.top-->
                <h3 class="bottom"><a href="">back to top</a></h3>
            </div><!---div.content-->

            <div class="content">
                <div class="top ">
                    <h2>Address</h2>
                    <p>leads bussiness solution,<br>
                        opposite villege office,<br>
                        kavanoor</p>
                     <h2 class="email">email</h2>
                     <span><a href="https://mail.google.com/">deinfo.lead@gmail.com</a></span>   
                     <h2 class="email">phone</h2>
                     <p>123-456-7890</p>
                </div><!--div.top-->
                <div class="bottom">
                    <ul>
                        <li><a href="https://wa.me/918086053060">facebook</a></li>
                        <li><a href="">whatapp</a></li>
                        <!-- <li><a href="">youtube</a></li> -->
                        <li><a href="">instagram</a></li>
                    </ul>
                </div><!--div.bottom-->
            </div><!---div.content-->

             <div class="content">               
                        <div class="top">
                            <h2>contact us</h2>
                            <form> 
                            <input type="text" name="" placeholder="Firstname">
                            <input type="text" name="" placeholder="Lastname">
                            <input type="text" name="" placeholder="Email">
                            <input type="text" name="" placeholder="messege">
                            <form> 
                        </div>

                        <div class="bottom">
                                <a href=""> <input type="submit" class="submit" name="" placeholder="Lastname"></a>
                        </div>
                </form>
            </div><!---div.content-->
        </div>
    </section><!--section.about-->

</body>
</html>